@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');



body { 
    background-image: 
    linear-gradient(45deg, #74c4f4 15%, #328dac 85%);
}

* {
    text-align: center;
    margin: auto;
    line-height: 1.5;
}

#first_icon{
    color: #ffffff;
}
#div_main {
    padding-bottom: 30px;
    padding: 0px 0px 100px;
}

#div_main i{
    padding: 150px 0px 50px;
}

p{
    
}
#div_main h1{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    width: 400;
}

h2{
    color: #ffc798;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    font-size: 42px;
}

.image{
    width: 360px;
    height: 260px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

.nav {
    text-align: center;
    margin: auto;
    background-color: white;
    align-content: center;
    justify-content: center;
    color: #636363;
    border-top: 0;
    border-top-width: 0px;
    border-top-style: initial;
    border-top-color: initial;
}