.formatacao {
    background-color: #40404a; 
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    color: #dbf69e;
    font-size: 20px;
}
.texto{
    color: #daf3de;
    font-family: Arial, Helvetica, sans-serif;
}
.site{
    color: #dbf69e;
}
.font{
    color: white;
}